body {
box-sizing: border-box;   
background-color: rgba(0, 0, 0, 0.904);
font-size: 60px;
color: rgb(11, 145, 145);
}

.clock { 
display: flex;
align-items: center;
justify-content: center;
border: 1px solid white;
border-radius: 10px;
width: 400px;
margin: auto;
}